body{
    background-color: rgb(46, 46, 46);
    font-family: monospace;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.git-hub-logo{
    position: absolute;
    left: 10px;
    font-size: 25px;
}
.logo-text{
    font-size: 20px;
    position: absolute;
    left: 40px;
    margin: 5px;
    background-image: linear-gradient(90deg, rgb(13, 13, 13),rgb(123, 3, 3),black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-container{
    position:absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%; 
    height: 50px;
    backdrop-filter: blur;
    /* margin-left:200px ; */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-radius: 5px;
    
 
}
.search-area{
    border: 1px solid rgb(188, 184, 184);
    color: white;
    background-color: rgb(99, 97, 97);
    margin: 4px;
    background: blur;
    padding: 6px;
    border-radius: 5px;
    font-family: inherit;
}
#search-input{
    width: 400px;
    background-color: rgb(70, 79, 71);
}

input::placeholder{
    color: white;
    opacity: 0.3;
}
#mode-toggle{
    color: black;
    position: absolute;
    right: 15px;
    width: 30px;
    font-size: 12px;
    height: 30px;
    border: 1px solid rgb(224, 161, 161);
    border-radius: 50%;
    background-color: rgb(221, 217, 217);
}
.result{
    background-color: rgb(69, 71, 73);
    min-height: 490px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 52px;
    color: white;
    overflow: auto;
    overlay: auto;
    position: relative;
    
}
.result a{
    text-decoration: none;
    color: rgb(7, 144, 92);
    font-size: 20px;
    font-weight: lighter;
    margin-top: 40px;
    margin-left: 45px;
    
}
.result img{
    border-radius: 10px;
    margin-top:40px;
}
.result span{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    background-color: rgb(245, 202, 129);
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    width: 400px;
    margin-left: 200px;
}
.result  ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-left: 37px;
    
}
.result li{
    margin: 10px;
}
.result .basic-info{
    display: flex;
    flex-direction: column;
}
.result .repo-link{
    font-size: 13px;
    color: white;
    position: relative;
    top: 12px;

}



.footer-con{
    border: 1px solid grey;
    /* border-top: none; */
    background-color: rgb(69, 71, 73);
    color: white;
    height: 49px;
    padding:10px ;
    margin: none;

}
.zero-repo-message{
    color: rgb(17, 167, 4);
    margin-left: 230px;
    font-size: 20px;
    position: relative;
    bottom: 25px;
    
}
.result div{
    display: flex;
    flex-direction: row;
}
.repo-container{
    display: flex;
    flex-direction:column !important;
    gap: 10px;
    margin-top: 20px;
    


}
.repoBox {
    display: flex;
    flex-direction: column !important;
    border-top: 1px solid gray;
    margin-top: 10px;
    font-size: 14px;

}
.repoBox div{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    margin: 5px;
    margin-top: 20px;
    gap: 10px;
}
.repoBox div:first-child p{
 position: absolute;
 right: 200px;
}
.repoBox div:last-child p{
    margin-left:20px ;
}
.repoBox a{
    margin-left: 3px !important;
    margin-top: 0 !important;
    font-size: 20px !important;
}